name: "Terraform main workflow"

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

#GitHub Actions GITHUB_TOKEN permissions
permissions:
  id-token: write      # Erlaubt der Action, einen OIDC-Token (OpenID Connect) von GitHub abzurufen(Ohne write kann sich Terraform nicht gegenüber Azure ausweisen)
  actions: read        # Erlaubt der Action, Informationen über andere Workflows abzurufen oder diese zu steuern (z. B. einen Workflow abzubrechen).
  checks: write        # Erlaubt das Erstellen und Aktualisieren von „Check Runs“ (die grünen Häkchen oder roten Kreuze bei den PR-Statusmeldungen)
  contents: read       # Zugriff auf den Quellcode des Repositories.
  pull-requests: write # Interaktion mit Pull Requests (hier write ist benétigt, um den Terraform-Plan als Kommentar unter deinen PR zu posten)

jobs:
  generate-docs:
    # Warning fixed in https://github.com/terraform-docs/gh-actions/issues/97#issuecomment-2016256973
    name: "Generate Docs"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      # Update terraform-docs and push
      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          output-file: README.md
          output-method: inject
          git-push: "true"

  terraform:
    name: "Terraform ${{ github.event_name == 'push' && 'apply' || 'plan' }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1
          terraform_wrapper: false

      - uses: op5dev/tf-via-pr@v13
        with:
          working-directory: terraform
          command: ${{ github.event_name == 'push' && 'apply' || 'plan' }}
          arg-backend-config: backend.hcl
          arg-var-file: terraform.tfvars
          format: false
          validate: true
